<form class="well" method="post" action="/<%=@model_name.downcase%>/<%%= @db_object.id%>">
<% @properties.each do |prop| %>
<% next if prop.name == :id %>
  <label><%=prop.name.to_s%></label>
  <%=form_type(prop,:name => prop.name,:value => "<%= @db_object.#{prop.name} %%>")%>
<% end %>
  <button type="submit" class="btn">Submit</button>
</form>
